*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link:hover {
    color: #3ffa06
}
.navbar{
   z-index: 9999;
   opacity: 1;
}
.nav-link{
    color: #fff;
    font-size: 1.1rem;
    z-index: 9999;
    margin-left: 1.9rem;
    font-weight: 600;
}
.navbar-brand{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}
.navbar .reach-btn{
    border: .0;
    outline: none;
    border-radius: 16px;
    padding: 8px;
    width: 110px;
    position: relative;
    z-index: 0;
    color: #fff;
}
.reach-btn::before {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3
    );
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    animation: move 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
.reach-btn:hover::before {
    opacity: 1;
  }
  
  .reach-btn::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3ffa06;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  .navbar{
    height: 90px;
  }
  .carousel-control-prev-icon {
    background-image: url(./assets/left-arrow.svg) !important;
    transform: rotate(180deg) !important;
}
.carousel-control-next-icon {
    background-image: url(./assets/right-arrow.svg) !important;
}

/******************************* Hero Section **********************************/
.hero-section{
    margin-top: -5.7rem;
    z-index: 99;
}
.hero-section .carousel .image-container .carousel-item img{
  height: 95vh;
  opacity: 0.9;
}
.hero-section .carousel .carousel-inner .image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-section .carousel .image-container {
  position: relative;
  display: inline-block;
}